<div class="add-hero">
    <form [formGroup]="formNewHero" (ngSubmit)="addHero()">
        <div class="new-hero-param">
            <span class="span-new-hero">{{ "form.name" | translate }}</span> 
            <input #nameInput appUpperCaseDirective placeholder="Hero Name" formControlName="name" type="text" 
                   [(ngModel)]="heroName" minlength="4" maxlength="15" required>
                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                   class="text-alert">
                   <div *ngIf="name?.errors?.['required']">
                    {{ "form.errors.needName" | translate }}
                    </div>
                    <div *ngIf="name?.errors?.['minlength']">
                      {{ "form.errors.minName" | translate: { value: 4 } }}
                    </div>
                </div>
        </div>
        <div class="new-hero-param">
            <span class="span-new-hero">{{ "form.company" | translate }}</span> 
            <input #companyInput placeholder="Hero Company" formControlName="company" type="text"
                   [(ngModel)]="heroCompany" required>
            <div *ngIf="company?.invalid && (company?.dirty || company?.touched)" class="text-alert">
               <div *ngIf="company?.errors?.['required']">
                {{ "form.errors.needCompany" | translate }}
               </div>
            </div>
        </div>
        <div class="new-hero-param">
            <span class="span-new-hero">{{ "form.description" | translate }}</span>
            <input #descriptionInput placeholder="Hero Description" formControlName="description" 
            [(ngModel)]="heroDescription" required minlength="8">
            <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-alert">
                <div *ngIf="description?.errors?.['required']">
                  {{ "form.errors.needDescription" | translate }}
                </div>
                <div *ngIf="description?.errors?.['minlength']">
                  {{ "form.errors.minDescription" | translate: { value: 8 } }}
                </div>
            </div>
        </div> 

        <button mat-raised-button color="primary" [disabled]="!formNewHero.valid" type="submit">{{ "form.add" | translate }}</button>
    </form>
</div>
