.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-hero {
    flex: 0 20%;
    width: 100px;
    margin: 50px;
}

.field-search {
    margin-left: 50px;
    margin-bottom: 40px;
}
.button-add {
    margin-left: 50px;
}

h1 {
    margin: 50px;
    font-size: 40px;
    font-weight: 400;
    background-image: linear-gradient(to bottom left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.field-search {
    margin: 50px;
}