
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-flat-button.mat-primary.mat-button-disabled,
.mat-flat-button.mat-accent.mat-button-disabled, 
.mat-flat-button.mat-warn.mat-button-disabled, 
.mat-flat-button.mat-button-disabled.mat-button-disabled, 
.mat-raised-button.mat-primary.mat-button-disabled, 
.mat-raised-button.mat-accent.mat-button-disabled, 
.mat-raised-button.mat-warn.mat-button-disabled, 
.mat-raised-button.mat-button-disabled.mat-button-disabled, 
.mat-fab.mat-primary.mat-button-disabled, .mat-fab.mat-accent.mat-button-disabled, 
.mat-fab.mat-warn.mat-button-disabled, .mat-fab.mat-button-disabled.mat-button-disabled, 
.mat-mini-fab.mat-primary.mat-button-disabled, .mat-mini-fab.mat-accent.mat-button-disabled, 
.mat-mini-fab.mat-warn.mat-button-disabled, .mat-mini-fab.mat-button-disabled.mat-button-disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.text-alert {
    color:red;
}
